<!DOCTYPE html>
<html>
<head>
<title>东方金信权限系统</title>
<#include "/public/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/login/login.css">
</head>
<body>
<div id="rrapp" class="site-wrapper site-page--login">
    <div class="site-content__wrapper">
        <div class="site-content">
            <div class="brand-info">
                <h2 class="brand-info__text">东方金信</h2>
                <p class="brand-info__intro">基于springboot、vue.js快速开发的权限管理系统</p>
            </div>
            <div class="login-main">
                <h3 class="login-title">管理员登录</h3>
                <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" status-icon>
                    <el-form-item prop="userName">
                        <el-input v-model="dataForm.userName" placeholder="帐号"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input v-model="dataForm.password" type="password" placeholder="密码"></el-input>
                    </el-form-item>
                    <!--<el-form-item prop="captcha">-->
                        <!--<el-row :gutter="20">-->
                            <!--<el-col :span="14">-->
                                <!--<el-input v-model="dataForm.captcha" placeholder="验证码">-->
                                <!--</el-input>-->
                            <!--</el-col>-->
                            <!--<el-col :span="10" class="login-captcha">-->
                                <!--<img :src="captchaPath" @click="getCaptcha()" alt="">-->
                            <!--</el-col>-->
                        <!--</el-row>-->
                    <!--</el-form-item>-->
                    <el-form-item>
                        <el-button class="login-btn-submit" type="primary" @click="dataFormSubmit()">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>
<!-- /.login-box -->
<!--<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>-->
<script type="text/javascript">
    var vm = new Vue({
        el:'#rrapp',
        data () {
            return {
                dataForm: {
                    userName: 'admin',
                    password: 'admin',
                    uuid: '',
                    captcha: ''
                },
                dataRule: {
                    userName: [
                        { required: true, message: '帐号不能为空', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '密码不能为空', trigger: 'blur' }
                    ],
                    // captcha: [
                    //     { required: true, message: '验证码不能为空', trigger: 'blur' }
                    // ]
                },
                captchaPath: ''
            }
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        methods: {
            // 提交表单
            dataFormSubmit () {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        ajaxFunctionPost("/sys/login",
                            {
                                'username': this.dataForm.userName,
                                'password': this.dataForm.password,
                                'uuid': this.dataForm.uuid,
                                'captcha': this.dataForm.captcha
                            },
                            function(res){
                                vm.$message({showClose: true, message: '登录成功', type: 'success'});
                                parent.location.href ='index.html';
                            },
                            function(res){
                                vm.$message({showClose: true, message: res.msg, type: 'error'});
                            }
                        )
                    }
                })
            },
        },
        mounted: function(){
            this.$nextTick(function(){
                // vm.dataFormSubmit()
            })
        }
    });
</script>
</body>
</html>
